body {
  background:#070707;
  color:white;
  font-family: 'Cabin', sans-serif;
}

/* ------ CSS Flexbox Starts Here ---- */

.grid {
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 2;
  grid-gap: 0px;
}
.box {
  color: white;
  padding: 20px 10px;
  background: #3B1C32;
  text-align: center;
}

.box:nth-child(1) {
  grid-column: span 2;
  }
.box:nth-child(2), { 
  grid-column: span 1;
  }
.box:nth-child(3) {
  grid-column: span 1;
  }
.box:nth-child(4) {
  grid-column: span 2;
  }

/* @media screen and (max-width: 575px) {
    .grid {
      display: inline;
      }
    .box {
      margin: 4px;
    }
  } */


/* ------ CSS Flexbox Ends Here ------ */

.welcome-info {
  position:relative;
  margin:10px;
  text-align:center;
  border-radius:5px;
  font-size:15px;
}

.title {
  font-size: 64px;
  font-weight: 800;
}

.instructions {
  font-size: 18px;
  padding: 8px;
}

#rest2 {
  font-size:13px;
}

#drop div {
  position:relative;
  height: 150px;
  width: 150px;
  border: 1px dashed gray;
  display: inline-block;
  margin: 0px;
}

#drop {
  width:624px;
  height:624px;
  background:black;
  border:4px solid white;
  margin: 0 auto;
}

#pieces {
  position: relative;
  width: 624px;
  margin: 0 auto;
}

img {
  height: 150px;
  width: 150px;
  margin: 0 4px 0 0;
}

/* ROUND ONE */ 
#drag1, 
#drag2,
#drag3,
#drag4,
#drag5,
#drag6,
#drag7,
#drag8,
#drag9, {
  height: 150px;
  width: 150px;
  padding: 0;
  display: inline-block;
}

.info {
    text-align: center;
}