body {
  background:#3B1C32;
  color:white;
  font-family: 'Cabin', sans-serif;
}

/* ------ CSS Flexbox Starts Here ---- */

.grid {
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 2;
  grid-gap: 0px;
}
.box {
  color: white;
  padding: 4px;
  background: #3B1C32;
  text-align: center;
}

.box:nth-child(1) {
  grid-column: span 2;
  }
.box:nth-child(2) { 
  grid-column: span 1;
  }
.box:nth-child(3) {
  grid-column: span 1;
  }
.box:nth-child(4) {
  grid-column: span 2;
  }

/* ------ CSS Flexbox Ends Here ------ */

.welcome-info {
  position:relative;
  margin:10px;
  text-align:center;
  border-radius:5px;
  font-size:15px;
}

.title {
  font-size: 64px;
  font-weight: 800;
}

.instructions {
  font-size: 18px;
  padding: 12px;
}

.logo {
  height: 46px;
  width: 46px
}

.nav-style {
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 18px;
  padding: 0 24px;
  align-content: space-around;
  justify-content: center;
}

.shuffle {
  background-color: #6CCE65;
  border-radius: 20px;
  padding: 3px 14px;
  margin: 0 24px;
}

a {
  text-decoration: none;
  font-size: 24px;
  padding: 5px 24px 0 24px;
}

.pieces-box {
  width: 624px;
  margin: 0 auto;
  background: #3B1C32;
}

.grid-box {
  width: 624px;
  margin: 0 auto;
  background: #3B1C32;
}

#footer-box {
  margin: 28px 0 0 0;
 }

#drop div {
  position:relative;
  height: 200px;
  width: 200px;
  border: 1px dashed gray;
  display: inline-block;
  margin: 0px;
}

#drop {
  width:615px;
  height:616px;
  background:black;
  border:0px solid white;
  margin: 0 auto;
}

#pieces {
  position: relative;
  width: 624px;
  margin: 0 auto;
}

img {
  height: 200px;
  width: 200px;
  margin: 0 2px 0 2px;
}



.info {
    text-align: center;
}