body {
    background:#6b6b69;
    color:white;
  }
  
  .welcome-info {
    position:relative;
    font-family:Arial;
    margin:10px;
    text-align:center;
    border-radius:5px;
    font-size:15px;
  }
  
  #title {
    font-size:20px;
  }
  
  #rest2 {
    font-size:13px;
  }

  #drop div {
    position:relative;
    height: 200px;
    width: 200px;
    border: 1px dashed gray;
    display: inline-block;
    margin: 0;
  }
  
  #drop {
    width:614px;
    height:614px;
    background:black;
    border:5px solid black;
    margin:auto;
  }
  
  #pieces {
    width: 100%
  }
  
  img {
    height: 200px;
    width: 200px;
  }
  
  /* ROUND ONE */ 
  #drag01,
  #drag02,
  #drag03,
  #drag04,
  #drag05,
  #drag06,
  #drag07,
  #drag08,
  #drag09 {
    height: 200px;
    width: 200px;
    
    display: inline-block;
  }
  
  #drag01 {
    background: red;
  }
  
  #drag02 {
    background: brown;
  }
  
  #drag03 {
    background: blue;
  }
  
  #drag04 {
    background: green;
  }
  
  #drag05 {
    background: goldenrod;
  }
  
  #drag06 {
    background: purple;
  }
  
  #drag07 {
    background: maroon;
  }
  
  #drag08 {
    background: mediumvioletred;
  }
  
  #drag09 {
    background: navy;
  }